.container{
    background-color: #00B2FF;
    margin: 10px 0px 10px 10px;
    padding: 5px 15px;
    border-radius: 30px;
    width: fit-content;


}

.container div input{
    width: 5rem;
}

.container .control{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

.container h3 a{
    text-decoration: none;
    color: black;
}

.container div button{
    background-color: #006AFF;
    color: white;
    border: 0px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.container div button:hover{
    color: lightgray;
}





.container .red{
    color:red;
    font-weight: bolder;
}
.container .blue{
    color:blue;
    font-weight: bolder;
}
.container .green{
    color: green;
    font-weight: bolder;
}