*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #00B2FF;
    display: flex;
    justify-content: center;
}

main{
    background-color: #006AFF;
    width: fit-content;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}